Here's a short example to demonstrate the use of a factory in an abstract base class. The `Animal` class declares the interface with a couple of string fields, a <i>const</i>, and the <i>Animal&nbsp;</i>factory method.<br />

  <pre class="highlight">
    <!-- Code goes here -->

  </pre>

  The aim is to create two separate class hierarchies, in which a subclass instance of one hierarchy contains a subclass instance of another hierarchy. In the following, an instance of an AnimalStudio subclass contains an instance of an Animal subclass.<br /><br />
  Both hierarchies are rooted in abstract classes to prevent their being instantiated. This, however, presents something of a challenge. It turns out that a class with a factory method (e.g., Animal) may not contain an unnamed constructor as this would effectively duplicate the factory method signature.<br />
