* {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: sans-serif;
  color: #666;
}
:host {
  display: block;
  margin: 0px;
}

/* from ItemElement */
.item {
  padding: 10px;
}
.item .field {
  margin-bottom: 8px;
}
.item .field h2 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  font-size: 1.8em;
}
.small {
  font-size: .8em;
}
/* end from ItemElement */
/*
.field {
  margin-bottom: 12px;
}
*/
.error {
  color: red;
  font-size: .9em;
  font-style: italic;
  margin-left: 10px;
}
body {
  padding: 30px;
}
form {
  padding: 20px;
  background: #fafafa;
  border-radius: 6px;
  }
input {
//display: block;
//width: 90%;
//height: 30px;
  padding: 4px 8px;
  font-size: 13px;
  line-height: 2.3;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-bottom: 5px;
}
button {
  color: #333;
  border-color: #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #555;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}
select {
  width: 50%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea {
  display: block;
  height: 30px;
  width: 90%;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 2.2;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-bottom: 5px;
}
