<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_form.html">

<polymer-element name="category-form" extends="item-form" attributes="item">
  <template>
    <style></style>
    <!-- This has to be here inside subclass <template> -->
    <link rel="stylesheet" href="app.css">
    <!-- TODO: Pass in `editing` attribute to prevent ID from being edited. -->
    <item-form item="{{item}}"
        on-submit="{{validateItem}}"
        on-cancel="{{cancelForm}}">
    </item-form>
  </template>
  <script type="application/dart" src="category_form.dart"></script>
</polymer-element>
