<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_element.html">
<link rel="import" href="category_form.html">

<polymer-element name="category-element"
                 extends="item-element"
                 attributes="item editing api results">
  <template>
    <template if="{{!editing}}">
      <div on-startedit="{{startEditing}}"
           on-delete="{{deleteItem}}">
        <item-element item="{{item}}" api="{{api}}"></item-element>
      </div>
    </template>
    <template if="{{editing}}">
      <div on-formNotNeeded="{{cancelEditing}}"
           on-itemvalidated="{{updateItem}}">
        <category-form item="{{item}}"></category-form>
      </div>
    </template>
  </template>
  <script type="application/dart" src="category_element.dart"></script>
</polymer-element>
