<link rel="import" href="packages/polymer/polymer.html">

<link rel="import" href="feed_form.html">
<link rel="import" href="feed_element.html">
<link rel="import" href="item_list.html">

<polymer-element name="feed-list" extends="item-list">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        width: 500px;
        padding-top: 800px;
        margin: 0px;
        margin: 12px 0;
        background: #fcfcfc;
        border-radius: 6px;
        /*width: 500px;*/
      }
      select {
        margin-bottom: 30px;
        display: inline;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
      #results {
        position: absolute;
        top: 0px;
        left: 300px;
        width: 350px;
        padding: 10px;
        background-color: #E6E6FA;
      }
    </style>

    <!-- TODO: Consider moving to base class. -->
    <!--item-list></item-list-->
    <div>
      <label>Category: </label>
      <select value="{{filterValue}}" on-change="{{filter}}">
        <option template repeat="{{filter in filters}}">
          {{filter}}
        </option>
      </select>
    </div>

    <div class="field">
      <label>Add new feed: </label>
      <input type="checkbox"
            checked?="{{showForm}}"
            on-click="{{toggleShowForm}}"></div>

    <div on-itemvalidated="{{addItem}}"
         on-formnotneeded="{{resetForm}}"
         hidden?="{{!showForm}}">
      <feed-form item="{{newItem}}"
                 regions="{{regions}}"
                 categories="{{categories}}">
      </feed-form>
    </div>

    <div id="results">
      {{results}}
    </div>

    <div on-deleteitem="{{deleteItem}}"
         on-levelchanged="{{filter}}">
      <template repeat="{{item in filteredItems}}">
      <feed-element item="{{item}}"
                    api="{{resourceApi}}"
                    regions="{{regions}}"
                    categories="{{categories}}"
                    results="{{results}}">
      </feed-element>
      </template>
    </div>

  </template>
  <script type="application/dart" src="feed_list.dart"></script>
</polymer-element>
