<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_form.html">

<polymer-element name="feed-form" extends="item-form" attributes="item regions categories">
  <template>
    <style></style>
    <!-- This has to be here inside subclass <template> -->
    <link rel="stylesheet" href="app.css">
    <!-- TODO: Pass in `editing` attribute to prevent ID from being edited. -->
    <item-form item="{{item}}"
               on-submit="{{validateItem}}"
               on-cancel="{{cancelForm}}">

      <div class="field">
        <label>Category: </label>
        <select value="{{item.categoryId}}">
          <option>Select one... </option>
          <option template
                  repeat="{{category in categories}}"
                  value="{{category.id}}">
            {{category.title}}
          </option></select></div>

      <div class="field">
        <label>Region IDs (comma-delimited): </label>
        <textarea placeholder="Enter region IDs..."
                  value="{{item.regionIds}}"></textarea></div>

      <!-- Doesn't properly bind with item. And the default
           widget sucks.
      <div class="field">
        <label>Regions: </label>
        <select value="{{item.regionIds}}" multiple>
          <option>Select regions... </option>
          <option template
              repeat="{{region in regions}}"
              value="{{region.id}}">
            {{region.title}}
          </option></select></div>
      -->

      <div class="field">
        <label>Interval fetch: </label>
        <input type="checkbox"
               checked?="{{item.intervalFetch}}"
               on-click="{{toggleIntervalFetch}}"></div>

      <label>Notification: </label>
      <textarea placeholder="NONE|EMAIL|TEXT|BOTH"
                value="{{item.notification}}"></textarea>

      <label>Query string: </label>
      <textarea placeholder="Add query string"
                value="{{item.queryObj.queryString}}"></textarea>

      <label>Condition (comma-delimited): </label>
      <textarea placeholder="new|like_new|excellent|good|fair|salvage"
                value="{{item.queryObj.condition}}"></textarea>

      <label>Min price: </label>
      <textarea placeholder="Add min price"
                on-keyup="{{validatePrice}}"
                value="{{item.queryObj.minPrice}}"></textarea>

      <label>Max price: </label>
      <textarea placeholder="Add max price"
                on-keyup="{{validatePrice}}"
                value="{{item.queryObj.maxPrice}}"></textarea>

      <div class="field">
        <label>Has picture: </label>
        <input type="checkbox"
               checked?="{{item.queryObj.hasPic}}"
               on-click="{{toggleHasPic}}"></div>

      <div class="field">
        <label>Posted today: </label>
        <input type="checkbox"
               checked?="{{item.queryObj.postedToday}}"
               on-click="{{togglePostedToday}}"></div>

      <div class="field">
        <label>Search titles only: </label>
        <input type="checkbox"
               checked?="{{item.queryObj.srchType}}"
               on-click="{{toggleSrchType}}"></div>

      <div class="field">
        <label>Bundle duplicates: </label>
        <input type="checkbox"
              checked?="{{item.queryObj.bundleDuplicates}}"
              on-click="{{toggleBundleDuplicates}}"></div>

      <div class="field">
        <label>Include nearby areas: </label>
        <input type="checkbox"
               checked?="{{item.queryObj.searchNearby}}"
               on-click="{{toggleSearchNearby}}"></div>

      <!-- 'zip' causes weird problem -->
      <div class="field"
        <label>Postal code: </label>
        <textarea placeholder="Add zip code"
                  value="{{item.queryObj.postal}}"></textarea></div>

      <div class="field">
        <label>Search distance (mi): </label>
        <textarea placeholder="Add search distance"
                  value="{{item.queryObj.searchDistance}}"></textarea></div>

    </item-form>
  </template>
  <script type="application/dart" src="feed_form.dart"></script>
</polymer-element>
