<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_element.html">
<link rel="import" href="feed_form.html">

<!--
`feeds` gets passed into FeedForm for the <select> list. `api` gets passed
into ItemElement for the call to the endpoint's update method.
-->
<polymer-element name="feed-element" extends="item-element" attributes="item editing regions categories api results">
  <template>
    <template if="{{!editing}}">
      <div on-startedit="{{startEditing}}"
           on-delete="{{deleteItem}}">
        <item-element item="{{item}}" api="{{api}}">
            <p class="field">
              Category: {{categoryTitle}}</p>
            <p class="field">
              Regions: {{regionTitles}}</p>
            <p class="field" hidden?="{{!item.intervalFetch}}">
              <input type="checkbox"
                     checked="checked"
                     on-click="{{return false;}">interval fetch</p>
            <p class="field" hidden?="{{nullOrEmpty(item.notification)}}">
              Notification: {{item.notification}}</p>
            <p></p>
            <p class="field" hidden?="{{nullOrEmpty(item.queryObj)}">
              Query string: {{item.queryObj.queryString}}</p>
            <p class="field" hidden?="{{nullOrZero(item.queryObj.minPrice)}}">
              Min price: ${{item.queryObj.minPrice}}</p>
            <p class="field" hidden?="{{nullOrZero(item.queryObj.maxPrice)}}">
              Max price: ${{item.queryObj.maxPrice}}</p>
            <p class="field" hidden?="{{nullOrEmpty(item.queryObj.postal)}}">
            <p class="field" hidden?="{{nullOrEmpty(item.queryObj.condition)}}">
              Condition: {{condition}}</p>
            <p hidden?="{{!item.queryObj.searchNearby}}">
              <input type="checkbox"
                     checked
                     on-click="{{return false;}">
              include nearby areas
              within {{item.queryObj.searchDistance}}
              miles of {{item.queryObj.postal}}</p>
            <p hidden?="{{!item.queryObj.postedToday}}">
              <input type="checkbox"
                     checked="checked"
                     on-click="{{return false;}">
              posted today</p>
            <p hidden?="{{!item.queryObj.srchType}}">
              <input type="checkbox"
                     checked="checked"
                     on-click="{{return false;}">
              search titles only</p>
            <p hidden?="{{!item.queryObj.hasPic}}">
              <input type="checkbox"
                     checked="checked"
                     on-click="{{return false;}">
              has picture</p>
            <p class="field" hidden?="{{!item.queryObj.bundleDuplicates}}">
              <input type="checkbox"
                     checked
                     on-click="{{return false;}">
              bundle duplicates</p>
            <p class="field" hidden?="{{nullOrEmpty(item.status)}}">
              Status: {{item.status}}</p>
        </item-element>
      </div>
    </template>
    <template if="{{editing}}">
      <div on-formNotNeeded="{{cancelEditing}}"
           on-itemvalidated="{{updateItem}}">
        <feed-form item="{{item}}" regions="{{regions}}" categories="{{categories}}"></feed-form>
      </div>
    </template>
  </template>
  <script type="application/dart" src="feed_element.dart"></script>
</polymer-element>
