<link rel="import" href="packages/polymer/polymer.html">

<!--link rel="import" href="item_form.html"-->

<polymer-element name="item-element" attributes="item api">
  <template>
    <style>
      :host {
        margin: 0px;
        margin: 12px 0;
        background: #fcfcfc;
        border-radius: 6px;
      }
      .item {
        padding: 10px;
      }
      .item .field {
        margin-bottom: 8px;
      }
      .item .field h2 {
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        font-size: 1.8em;
      }
      .small {
        font-size: .8em;
      }
      button {
        color: #333;
        border-color: #ccc;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid #555;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
      }
    </style>
    <div class="item">
      <div class="field">
        <h2>{{item.title}}</h2>
      </div>
      <div class="field">
        <p><b>ID:</b> {{item.id}}</p>
      </div>
      <div class="field">
        <p><b>Description:</b> {{item.description}}</p>
      </div>
      <content></content>
      <div class="field">
        <button on-click="{{edit  }}">Edit  </button>
        <button on-click="{{delete}}">Delete</button>
      </div>
    </div>
  </template>
  <script type="application/dart" src="item_element.dart"></script>
</polymer-element>
