<link rel="import" href="packages/polymer/polymer.html">

<polymer-element name="item-list" attributes="api">
  <template>
    <style>
      // TODO: Remove styles here. They have no effect.
      // Also move styles from subclasses into app.css
      :host {
        display: block;
        position: relative;
        width: 500px;
        padding-top: 800px;
        margin: 0px;
        margin: 12px 0;
        background: #fcfcfc;
        border-radius: 6px;
        /*width: 500px;*/
      }
      select {
        margin-bottom: 30px;
        display: inline;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
    </style>
    <content></content>
  </template>
  <script type="application/dart" src="item_list.dart"></script>
</polymer-element>
