<link rel="import" href="packages/polymer/polymer.html">

<polymer-element name="item-form" attributes="item">
  <template>
    <style></style>
    <!-- This has to be here inside <template> -->
    <link rel="stylesheet" href="app.css">
    <!-- Todo: determ why titleLength and descrLength spans don't update -->
    <form>
      <!-- TODO: make ID read-only when updating existing item -->
      <div class="field">
        <label>ID:</label>
        <textarea placeholder="Add ID" value="{{item.id}}"
            on-keyup="{{validateId}}">
        </textarea>
        <!-- TODO: add bells/whistles below -->
      </div>
      <div class="field">
        <label>Title: </label>
        <textarea placeholder="Add title" value="{{item.title}}"
            on-keyup="{{validateTitle}}">
        </textarea>
        <div>
          <span class="chars-left">{{titleCharsLeft}}</span>
          <span class="error" hidden?="{{titleErrorMessage.isEmpty}}">
            {{titleErrorMessage}}
          </span>
        </div>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea placeholder="Add description" value="{{item.description}}"
            on-keyup="{{validateDescription}}">
        </textarea>
        <div>
          <span class="chars-left">{{descriptionCharsLeft}}</span>
          <span class="error" hidden?="{{descriptionErrorMessage.isEmpty}}">
            {{descriptionErrorMessage}}
          </span>
        </div>
      </div>
      <content></content>
      <div>
        <button on-click="{{submit}}">Submit</button>
        <button on-click="{{cancel}}">Cancel</button>
      </div>
    </form>
  </template>
  <script type="application/dart" src="item_form.dart"></script>
</polymer-element>
