<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_form.html">

<polymer-element name="post-form" extends="item-form" attributes="item feeds">
  <template>
    <style></style>
    <!-- This has to be here inside subclass <template> -->
    <link rel="stylesheet" href="app.css">
    <!-- TODO: Pass in `editing` attribute to prevent ID from being edited. -->
    <item-form item="{{item}}"
        on-submit="{{validateItem}}"
        on-cancel="{{cancelForm}}">
      <div class="field">
        <label>Email</label>
        <textarea placeholder="Add email" value="{{item.email}}"
            on-keyup="{{validateEmail}}">
        </textarea>
        <div>
          <span class="chars-left">{{emailCharsLeft}}</span>
          <span class="error" hidden?="{{emailErrorMessage.isEmpty}}">
            {{emailErrorMessage}}
          </span>
        </div>
      </div>
      <div class="field">
        <label>Phone</label>
        <textarea placeholder="Add phone" value="{{item.phone}}"
            on-keyup="{{validatePhone}}">
        </textarea>
        <div>
          <span class="chars-left">{{phoneCharsLeft}}</span>
          <span class="error" hidden?="{{phoneErrorMessage.isEmpty}}">
            {{phoneErrorMessage}}
          </span>
        </div>
      </div>
    </item-form>
  </template>
  <script type="application/dart" src="post_form.dart"></script>
</polymer-element>
