<link rel="import" href="packages/polymer/polymer.html">

<link rel="import" href="post_form.html">
<link rel="import" href="post_element.html">
<link rel="import" href="item_list.html">

<polymer-element name="post-list" extends="item-list">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        width: 500px;
        padding-top: 800px;
        margin: 0px;
        margin: 12px 0;
        background: #fcfcfc;
        border-radius: 6px;
//      width: 500px;
      }
      select {
        margin-bottom: 30px;
        display: inline;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,
                            box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,
                    box-shadow ease-in-out .15s;
      }
      #results {
        position: absolute;
        top: 0px;
        left: 300px;
        width: 350px;
        padding: 10px;
        background-color: #E6E6FA;
      }
    </style>

    <!-- TODO: Consider moving to base class. -->
    <!--item-list api="{{api}}"></item-list-->

    <div>
      <label>Items per page: </label>
      <select value="{{limit}}">
        <option template repeat="{{limit in limits}}">
          {{limit}}
        </option>
      </select>
    </div>

    <div>
      <label>Feed: </label>
      <select value="{{filterValue}}" on-change="{{filter}}">
        <option template repeat="{{filter in filters}}">
          {{filter}}
        </option>
      </select>
    </div>

    <div class="field">
      <span class="small"
            on-click="{{nextPage}}"
            hidden?="{{items.length <= 0 || filterValue == 'all'}}">
        Next
      </span>
    </div>

    <div id="results">
      {{results}}
    </div>

    <div on-deleteitem="{{deleteItem}}"
         on-levelchanged="{{filter}}">
      <template repeat="{{item in filteredItems}}">
        <post-element item="{{item}}"
                      feeds="{{feeds}}"
                      api="{{resourceApi}}"
                      results="{{results}}">
        </post-element>
      </template>
    </div>

    <div class="field">
      <span class="small"
            on-click="{{nextPage}}"
            hidden?="{{items.length > 0 || filterValue == 'all'}}">
        Go
      </span>
    </div>

    <div class="field">
      <span class="small"
            on-click="{{nextPage}}"
            hidden?="{{items.length <= 0 || filterValue == 'all'}}">
        Next
      </span>
    </div>

  </template>
  <script type="application/dart" src="post_list.dart"></script>
</polymer-element>
