<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_element.html">
<link rel="import" href="post_form.html">

<!--
`feeds` gets passed into PostForm for the <select> list.
`api` gets passed into ItemElement for the call to the endpoint's update method.
-->
<polymer-element
    name="post-element"
    extends="item-element"
    attributes="item editing feeds api results">
  <template>
    <template if="{{!editing}}">
      <div on-startedit="{{startEditing}}"
           on-delete="{{deleteItem}}">
        <!-- TODO: Why not use `resourceApi`? -->
        <item-element item="{{item}}" api="{{api}}">
          <div class="item">
            <div class="field">
              <a target="_blank" href="{{item.imgLink}}">
                <p><span><img src="{{imageData}}" alt="Photo"></span></p>
              </a>
            </div>
            <div class="field">
              <p><span><b>Email:</b> </span>
								<a href="mailto: {{item.email}}?
										subject={{item.title}}&
										body={{item.description}}">
									{{item.email}}
								</a>
              </p>
            </div>
            <div class="field">
              <p><span><b>Phone: </b></span>{{item.phone}}</p>
            </div>
            <div class="field">
              <p><span><b>Feed: </b></span>{{feedTitle}}</p>
            </div>
            <div class="field">
              <span><b>Link: </b></span>
                <a target="_blank" href="{{item.link}}">{{item.link}}</a>
            </div>
            <div class="field">
              <p><span><b>Published: </b></span>{{item.strPublished}}</p>
            </div>
            <div class="field">
              <p><span><b>Updated: </b></span>{{item.strUpdated}}</p>
            </div>
          </div>
        </item-element>
      </div>
    </template>
    <template if="{{editing}}">
      <div on-formNotNeeded="{{cancelEditing}}"
           on-itemvalidated="{{updateItem}}">
        <post-form item="{{item}}" feeds="{{feeds}}"></post-form>
      </div>
    </template>
  </template>
  <script type="application/dart" src="post_element.dart"></script>
</polymer-element>
