<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_element.html">
<link rel="import" href="region_form.html">

<polymer-element name="region-element" extends="item-element" attributes="item editing api results">
  <template>
    <template if="{{!editing}}">
      <div on-startedit="{{startEditing}}"
           on-delete="{{deleteItem}}">
        <item-element item="{{item}}" api="{{api}}">
					<div class="field">
            <p><b>Subdomain:</b> {{item.subdomain}}</p>
					</div>
					<div class="field">
            <p><b>Subdomain only:</b><input
                type="checkbox"
                checked="{{item.subdomainOnly}}"
                on-click="{{return false;}"></p>
					</div>
        </item-element>
      </div>
    </template>
    <template if="{{editing}}">
      <div on-formNotNeeded="{{cancelEditing}}"
           on-itemvalidated="{{updateItem}}">
        <region-form item="{{item}}"></region-form>
      </div>
    </template>
  </template>
  <script type="application/dart" src="region_element.dart"></script>
</polymer-element>
