<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="item_form.html">

<polymer-element name="region-form" extends="item-form" attributes="item">
  <template>
    <style></style>
    <!-- This has to be here inside subclass <template> -->
    <link rel="stylesheet" href="app.css">
    <!-- TODO: Pass in `editing` attribute to prevent ID from being edited. -->
    <item-form item="{{item}}"
        on-submit="{{validateItem}}"
        on-cancel="{{cancelForm}}">
      <div class="field">
        <label>Subdomain: </label>
        <textarea placeholder="Add subdomain" value="{{item.subdomain}}">
        </textarea>
      </div>
      <div class="field">
				<label>Subdomain-only: </label>
				<input
					type="checkbox"
					checked?="{{item.subdomainOnly}}"
					on-click="{{toggleSubdomainOnly}}"></div>

    </item-form>
  </template>
  <script type="application/dart" src="region_form.dart"></script>
</polymer-element>
